/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: #6dd4cb;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto Mono';
  font-size:  2em;
  font-weight: 500;
  margin: -1vw;
}

h2, h3, h4 {
  color: black;
}

p {
  color: black;
  text-align: left;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
}

#hidePage {
  display: none;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  padding: 2%;
  text-decoration: none;

}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- TINDE LIKE ----------- */
#swipeContainer {
  background-image: url("../img/background-myfstvl.png");
  width: 100vw;
  margin: auto 0 !important;
  display: block;
  height: 100vh;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.card {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  overflow: auto;
  padding: 1%;
  position: relative;
  cursor: hand;
}

.card p {
  margin: 5vw;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}

#avatar {
  width: 90%;
  height: 60vh;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5%;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;

}

article.card.active {
  background-color: rgba(255,255,255, 0.6);
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}

.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

#more {
  display: none;
}

#myBtn {
  border: none;
  background-color: white;
}

.like-dislike {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.like-dislike video {
  margin-left: 4vw;
  margin-right: 4vw;
}
