/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: #6dd4cb;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
  background: grey;

}

h1 {
  font-family: 'Roboto' !important;
  font-size: 2em;
  font-weight: 500;
  margin: -1vw;
}





h2,
 {
  color: black;
  font-family: 'Roboto';
  font-size: 1em;
}

h3,
h4 {
  font-family: 'Roboto Mono' !important;
  font-size: 0.8em;
  margin-top: -0.8em !important;
}

p {
  color: black;
  text-align: left;
  font-family: 'Roboto mono' sans-serif !important;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  display: flex;
  flex-direction: row;
}

#hidePage {
  display: none;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  padding: 2%;
  text-decoration: none;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  background-image: url("../img/background-myfstvl.png");
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.tilbage-knap {
  float: left;
  margin: 20px;
  width: 10%;
}


/* ---------- TINDER CARDS ----------- */

#swipeContainer {
  background-image: url("../img/background-myfstvl.png");
  width: 100vw;
  margin: auto 0 !important;
  display: block;
  height: 80vh;
  padding-top: 10px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.card {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  overflow: auto;
  position: relative;
  cursor: hand;
}

.card p {
  margin: 5vw;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}

#avatar {
  width: 90%;
  height: 60vh;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5%;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar-img {
  width: 90%;
}

article.card.active {
  background-color: rgba(255,255,255, 0.6);
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}

.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

#more {
  display: none;
}

#myBtn {
  border: none;
  background-color: white;
}

.like-dislike {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.like-dislike video {
  margin-left: 4vw;
  margin-right: 4vw;
}

/* /////////// Filtreringsknapper /////////// */

.genre-container,
.dag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  width: 30% !important;
}

.alle {
  width: 40% !important;
  margin-left: 5% !important;
}

#filter {

}

.top-tekst {
  margin-top: 12vh;
}


#filter p, #filter h2, #filter h3 {
  text-align: center;
}

#filter .arrow {
  margin-top: 3vh;
}

/* //////// KALENDER //////// */
/*
#likeGridContainer {
  display: grid;
  grid-template-columns: 100%;
}
*/
#likedGridContainer .card {
  display: block !important;
}

/* Vælg festival */
.festival-grid {
  display: grid;
  grid-template-columns: 9% 40% 2% 40% 9%;
  margin-top: 20px;
}

.festival-grid img {
  width: 90%;
  background-color: white;
  padding: 5%;
}

.festival-grid img:hover {
  border: 5px solid #6dd4cb;
}

.festival-grid div {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.roskilde,
.musik-i-lejet,
.tinderbox {
  grid-column: 2 / 2;
  margin-bottom: 10px;
}

.northside,
.smukfest,
.copenhell {
  grid-column: 4 / 4;
  margin-bottom: 10px;
}

#valg {
  width: 100% ;
  text-align: center;
  height: 100vh;
  position: fixed ;
    z-index: 99999;
    background-color: white;
    background-image: url(/img/background-myfstvl.png);
    text-shadow:none;


}

#valg a, #filter a {
  text-decoration: none;
  color: white;

}

#valg h1{
    font-family: 'Roboto' !important;
    font-size: 12vw;
}

#valg button, #filter .arrow{
    background-color: rgb(2,41,54);
    width: 40%;
    margin-left: 30%;
    border-radius: 50px;
}

.arrow {
  font-size: 11vw !important;
    padding:1% !important;
  color: white;
  border: 5px solid white;
}

/* login side */
.logpa {
  width: 100% !important;
  text-align: center !important;
  height: 109vh !important;
  position: fixed !important;
    top:-55px !important;
    z-index: 99999;
    background-color: white;




}

.indhold {
  position: absolute !important;
  top: 52% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 90% !important;




}

.indhold h1 {
  color: #032936 !important;
  font-size: 15vw !important;
  font-weight: 100 !important;
  margin-top: 0 !important;
    font-family: 'Roboto' !important;
    text-shadow: none;
    background-color: transparent !important;
    margin-bottom:30px;
}

.indhold h3 {
  text-align: left !important;

  text-decoration: underline !important;
  font-size: 6vw !important;
  font-weight: 100 !important;
  color: #032936 !important;
  font-family: 'Roboto' !important;
  font-weight: 700 !important;
}

.indhold p {
  font-family: 'Roboto' !important;
  font-size: 3.5vw !important;
    text-align: center;
}

#login input {
  width: 80% !important;
  display: block !important;
  margin-left: 10% !important;
  font-family: 'Roboto' !important;
  font-size: 6vw !important;
  font-weight: 100 !important;
  border: none !important;
    border-style: none !important;
    border-bottom: 2px  #6DD4CB !important;

}



.loginknap {
  border: 2px solid #6DD4CB !important;
  font-size: 5.5vw !important;
  padding: 10px 60px !important;
  margin-top: 30px !important;
  border-radius: 50px !important;
  color: white !important;
  background-color: #032936 !important;
  font-family: 'Roboto' !important;
  width: 60% !important;
    margin-left: 20% !important;

}

.loginknap a {
  color: white;
  background-color: #032936 !important;
  font-family: 'Roboto' !important;
  font-size: 5.5vw !important;
  text-decoration: none !important;
    width: 60% !important;
    text-shadow: none !important;
    color:white !important;

}

.glemt {
  position: absolute !important;
  bottom: 3% !important;
  right: 2% !important;
  font-size: 3.3vw !important;
  font-family: 'Roboto' !important;
  margin: 0 !important;
  color: #032936 !important;
  text-decoration: none !important;
}

.konto {
  position: absolute !important;
  bottom:3%  !important;
  left: 2%!important;
  font-size: 3.3vw !important;
  font-family: 'Roboto' !important;
  margin: 0 !important;
  color: #032936 !important;
  text-decoration: none !important;
}

/*facebook*/
.loginBtn {
  box-sizing: border-box !important;;
  position: relative !important;;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em !important;
  padding: 0 15px 0 46px !important;
  border: none !important;
  text-align: left !important;
  line-height: 34px !important;
  white-space: nowrap !important;
  border-radius: 0.2em !important;
  font-size: 12px !important;
  color: #FFF !important;
width:54% !important;
margin-left: 23% !important;
}

.loginBtn:before {
  content: "" !important;
  box-sizing: border-box !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 34px !important;
  height: 100% !important;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1) !important;
}

.loginBtn--facebook {
  background-color: #4C69BA !important;
  background-image: linear-gradient(#4C69BA, #3B55A0) !important;
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C !important;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid !important;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat !important;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5 !important;
  background-image: linear-gradient(#5B7BD5, #4864B1) !important;
}


/* /////// MIN PROFIL SITE /////// */

#account{
    position: relative;
}

#account h2{

    margin-bottom: 20px;
    font-size: 7vw;
}

#account h3{
    font-size: 4vw;
    text-decoration: underline;
    margin: 10px 0px;
    padding-top:10px


}

.profilindhold{
    position: absolute;
    width:80%;
    margin-left:10%;
    top:16%;
    text-align: left;
}

.dinfestival{
    width:60px;
    padding: 5px;
    background-color: #6DD4CB;
    margin-bottom: 20px;

}

#account input{
    margin: 5px 0px;

    height: 20px !important;
}


#account button{
      color: white;
  background-color: #032936 !important;
  font-family: lucida sans !important;
  font-size: 4.5vw !important;
  text-decoration: none !important;
    width: 60% !important;
    text-shadow: none !important;
    color:white !important;
    left:20%;
    border-radius: 50px;
    margin-top: 20px;

}

#account button a{
    color: white;
    text-decoration: none;

}

.password{
    font-size: 3.5vw;
    color:#ACACAC !important;
}









.addblue {
  background-color: blue;
}

.button:focus {
  background-color: #6dd4cb !important;
}
